In [19]:
#Libraries
import pandas as pd 
import numpy as np 
import matplotlib as plt
import seaborn as sns

In [29]:
df = pd.read_csv('ecommerce_sales.csv')
df.head()

   order_id  customer_id  order_date  order_amount platform campaign_id
0         1         1051  2024-02-03           201   mobile       CAMP1
1         2         1092  2024-01-08           611  website  NoCampaign
2         3         1014  2024-02-09           738  website  NoCampaign
3         4         1071  2024-03-23           996   mobile       CAMP1
4         5         1060  2024-02-11           657   mobile       CAMP2

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      1000 non-null   int64
 1   customer_id   1000 non-null   int64
 2   order_date    1000 non-null   object
 3   order_amount  1000 non-null   int64
 4   platform      1000 non-null   object
 5   campaign_id   1000 non-null   object
dtypes: int64(3), object(3)
memory usage: 47.0+ KB

In [30]:
df.describe()

          order_id  customer_id  order_amount
count  1000.000000  1000.000000   1000.000000
mean    500.500000  1049.128000    522.465000
std     288.819436    29.573505    266.650725
min       1.000000  1000.000000     50.000000
25%     250.750000  1023.000000    294.500000
50%     500.500000  1050.000000    517.500000
75%     750.250000  1074.000000    738.250000
max    1000.000000  1099.000000    997.000000

In [22]:
df.isnull().sum()

order_id        0
customer_id     0
order_date      0
order_amount    0
platform        0
campaign_id     0
dtype: int64

In [23]:
df.head()

   order_id  customer_id  order_date  order_amount platform campaign_id
0         1         1051  2024-02-03           201   mobile       CAMP1
1         2         1092  2024-01-08           611  website  NoCampaign
2         3         1014  2024-02-09           738  website  NoCampaign
3         4         1071  2024-03-23           996   mobile       CAMP1
4         5         1060  2024-02-11           657   mobile       CAMP2

In [24]:
df['campaign_id']=df['campaign_id'].replace({'NoCampaign':'WaitingforCampaign'})
df['campaign_id']

0                   CAMP1
1      WaitingforCampaign
2      WaitingforCampaign
3                   CAMP1
4                   CAMP2
              ...
995                 CAMP2
996    WaitingforCampaign
997    WaitingforCampaign
998    WaitingforCampaign
999                 CAMP2
Name: campaign_id, Length: 1000, dtype: object

In [26]:
df.head()

,order_id,customer_id,order_date,order_amount,platform,campaign_id
0,1,1051,2024-02-03,201,mobile,CAMP1
1,2,1092,2024-01-08,611,website,WaitingforCampaign
2,3,1014,2024-02-09,738,website,WaitingforCampaign
3,4,1071,2024-03-23,996,mobile,CAMP1
4,5,1060,2024-02-11,657,mobile,CAMP2

In [31]:
df.count()

order_id        1000
customer_id     1000
order_date      1000
order_amount    1000
platform        1000
campaign_id     1000
dtype: int64

In [ ]:
df[['order_date','customer_id']]