## Data Cleaning and Preparation with Pandas

#### Drop, Fill, Interpole

In [27]:
import pandas as pd
import numpy as np

# Exercise for data cleaning

data = { 'Name':['Alice', 'Enis', 'Barış', 'Memet', np.nan],
         'Age': [25, 34, 45, np.nan, 56],
         'Score': [np.nan, 13, np.nan, 32, 45]
}
df = pd.DataFrame(data)
print('Orginal DataFrame \n', df) # here my orginal DataFrame with missing or empty values

Orginal DataFrame
     Name   Age  Score
0  Alice  25.0    NaN
1   Enis  34.0   13.0
2  Barış  45.0    NaN
3  Memet   NaN   32.0
4    NaN  56.0   45.0

In [28]:
df['Age']=df['Age'].interpolate()  # Interpolate bos olan verilere mantıklı veriler koymak icin kullanılabilir
print('Interpolate Age \n', df)

Interpolate Age
     Name   Age  Score
0  Alice  25.0    NaN
1   Enis  34.0   13.0
2  Barış  45.0    NaN
3  Memet  50.5   32.0
4    NaN  56.0   45.0

In [29]:

df = df.dropna()  # here i dropped the missing 
print('After Dropna \n', df)

After Dropna
     Name   Age  Score
1   Enis  34.0   13.0
3  Memet  50.5   32.0

#### Rename in pandas

In [35]:
df= df.rename(columns= {'Name':'Student Name', 'Age':'Student Age' ,'Score':'Exam Score'}) # we changed the default column names with rename func.
print(df)

  Student Name  Student Age  Exam Score
1         Enis         34.0        13.0
3        Memet         50.5        32.0

#### Merge In pandas

In [42]:
newDf = pd.DataFrame(
    {
        'ID': [1, 2, 3],
        'Age': [34,56,23]
    }
)
newDfTwo = pd.DataFrame(
    {
        'ID': [1, 2, 3],
        'Score': [100, 123, 443]
    }
)
merged = pd.merge(newDf, newDfTwo, how='inner', on='ID') #merge: In pandas, it combines two DataFrames into one table by matching rows on common key column(s).
mergedLeft = pd.merge(newDf, newDfTwo, how='right', on='ID')

print(merged)
print(mergedLeft)

   ID  Age  Score
0   1   34    100
1   2   56    123
2   3   23    443
   ID  Age  Score
0   1   34    100
1   2   56    123
2   3   23    443